/* client/src/components/Header.css */

.header {
  background-color: #005E54;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  flex-shrink: 0; /* Impede que o header encolha */
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.chat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-name-container {
  display: flex;
  align-items: center;
  gap: 6px; /* Espaço entre o nome e o selo */
}

.chat-name {
  font-weight: bold;
  font-size: 17px;
}

.verified-badge {
  width: 16px;
  height: 16px;
}

.chat-status {
  font-size: 13px;
  color: #d1d1d1;
}

.chat-status.typing {
  color: #25d366; /* Verde para "digitando..." */
}